
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

div{
  border: 1px blue solid;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
}


.section video{
  width: 100%;
}


.width100{
  width: 100%;
}

.height100{
  height: 100vh;
}

.flex{
  display: flex;
  align-items: top;
  
}